// Colours
$black: #020202;
$white: #F2F2F2;
$error-red: #FF6666;
$pomegranite: #FB381D;
$pomegranite-hover: #FC7435;

// Containers 
$desk-width: 600px;

body {
	background: $white;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-align: center;
}

a {
	color: $black;
	text-decoration: underline;
}

@import "../modules/all";
